[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mlflow-migrate-utility = {editable = true, path = "."}
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
flake8 = "*"
isort = "*"

[packages]
psycopg2-binary = "*"
click = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
test="python -m pytest --verbose -s -p no:warnings --cov-report term-missing --cov 'mlflow_migrate_utility'"
lint="pre-commit run --all-files"
